body {
  background: #212121;
  margin: 50px; }

h3 {
  color: white; }

.fa-times {
  font-size: 100px;
  line-height: 75px; }

.fa-circle-o {
  font-size: 80px;
  line-height: 84px; }

.container {
  margin: auto;
  width: 300px;
  height: 60px;
  background: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  position: relative;
  overflow: hidden; }

.btn {
  background: #0277BD;
  width: 145px;
  height: 50px;
  top: 0;
  border-radius: 0;
  color: white; }

.select:hover {
  cursor: pointer;
  border-bottom: 4px solid white;
  border-top: 4px solid #0277BD;
  outline: none !important;
  box-shadow: none !important; }

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none !important; }

.avatarX {
  position: absolute;
  left: 0; }

.avatarO {
  position: absolute;
  right: 0; }

.vbar1 {
  position: absolute;
  bottom: 100px;
  left: 94px;
  height: 90px;
  width: 9px;
  background: black; }

.vbar2 {
  position: absolute;
  bottom: 100px;
  right: 94px;
  height: 90px;
  width: 9px;
  background: black; }

.hbar0 {
  position: absolute;
  top: 50px;
  right: 0;
  height: 6px;
  width: 290px;
  background: black; }

.hbar1 {
  position: absolute;
  bottom: 187px;
  left: 100px;
  height: 9px;
  width: 90px;
  background: black; }

.hbar2 {
  position: absolute;
  bottom: 94px;
  left: 100px;
  height: 9px;
  width: 90px;
  background: black; }

.testbox {
  height: 84px;
  width: 84px;
  vertical-align: center;
  display: none;
  background: transparent;
  text-align: center;
  color: black;
  position: absolute; }

#index00 {
  bottom: 196px;
  left: 10px; }

#index01 {
  bottom: 196px;
  left: 103px; }

#index02 {
  bottom: 196px;
  right: 10px; }

#index10 {
  bottom: 103px;
  left: 10px; }

#index11 {
  bottom: 103px;
  left: 103px; }

#index12 {
  bottom: 103px;
  right: 10px; }

#index20 {
  bottom: 10px;
  left: 10px; }

#index21 {
  bottom: 10px;
  left: 103px; }

#index22 {
  bottom: 10px;
  right: 10px; }

.dividers {
  display: none; }
